footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

@media (min-width: 0px) and (max-width: 991px){
    
    #footer {
        position: absolute;
        bottom:inherit;
        width: 100%;
    }
    
}
