* {
    margin: 0%;
    padding: 0%;
}

/*Logo*/
.logo {
    width: 70%;
}

/*Cores de Fundo*/
header, footer{
    background-color: rgb(255, 255, 255);
}

body, .doacao{
    background-color:rgba(255, 0, 76, 0.603);
}

#quemsomos{
    background-color: rgb(255, 255, 255);
    border: solid;
    height: 510px;
}

.sobrenos{
   color:  rgba(255, 0, 76, 0.603);
}

.form-check-input{
    border-color: black;
}

a {
    text-decoration: none;
}

.img{
    width: 100%;
    border: solid;
    border-radius: 10%;
}

footer {
    position: absolute;
    bottom: absolute;
    width: 100%;
}

/*-------------------------------Mudança de cor-------------------------------*/
.acessos:hover {
    color: rgba(255, 0, 76, 0.815);
    cursor: pointer;
    transition-duration: 380ms;
}

a:hover {
    color: rgba(255, 0, 76, 0.603);
    cursor: pointer;
    transition-duration: 380ms;
}

#submit:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 0, 76, 0.603);
    cursor: pointer;
    transition-duration: 380ms;
}
/*---------------------------Media Query---------------------------*/

@media screen and (max-width: 768px){
    .logo{display: none;}
    .acessos{
        font-size: 97%;
    }
    
}

@media screen and (max-width: 1199px){
    #quemsomos{overflow-y: scroll;}
}
